{% extends 'base.html'%}
{% load static %} 
{% block content %}  


  <!-- product section -->

  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Bots
        </h2>
      </div>
      <div class="product_container">
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <img src="{% static 'images/s.png' %}" alt="">
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Register bot
                </h6>
                <h5>
                  <span>$</span> 300
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <img src="{% static 'images/s.png' %}" alt="">
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Calkulator bot
                </h6>
                <h5>
                  <span>$</span> 400
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <img src="{% static 'images/s.png' %}" alt="">
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Nick bot
                </h6>
                <h5>
                  <span>$</span> 350
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  




<!-- info section -->
<section class="info_section layout_padding2">
  <div class="container">
    <div class="info_logo">
      <h2>
        Site
      </h2>
    </div>
    <div class="row">

      <div class="col-md-3`">
        <div class="info_contact">
          <h5>
            About
          </h5>
          <div>
            <div class="img-box">
              <img src="{% static 'images/location-white.png' %}" width="18px" alt="">
            </div>
            <p>
              Address:Navoi city, government, post office
            </p>
          </div>
          <div>
            <div class="img-box">
              <img src="{% static 'images/telephone-white.png' %}" width="12px" alt="">
            </div>
            <p>
              +998 93-170-13-70
            </p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info_section -->

        {% endblock content %}